<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="crust_arm_mobile">
<link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.0086825 -0.017953 -0.0014659"
        rpy="0 0 0" />
      <mass
        value="0.12527" />
      <inertia
        ixx="8.2527E-05"
        ixy="-1.7934E-08"
        ixz="1.4028E-06"
        iyy="1.2414E-05"
        iyz="-2.4887E-10"
        izz="7.8282E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find crust_arm_description)/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find crust_arm_description)/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="crust_camera_joint"
    type="fixed">
    <origin
      xyz="-0.0542 0.017962 0.0375"
      rpy="0 0 0" />
    <parent
      link="tool_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
    
</robot>